.containerCadastroAlunos {
  padding-top: 60px;
}

.btnSalvarAluno {
  background-color:rgb(2, 114, 11);
  margin-left: 20px;
}

.btnDeletarAluno {
  margin-left: 20px;
}

.inputNovoAluno {
  margin-bottom: 20px;
}

